In [1]:
import matplotlib.pyplot as plt
import osmnx as ox
import igraph as ig
import pandas as pd
import networkx as nx
import numpy as np

from itertools import product
import multiprocessing as mp
from pylab import MaxNLocator
import random as rd
from IPython.display import clear_output
import scipy

In [2]:
city_name='San_Francisco'
data = pd.read_csv('/home/diogo_mota/Dropbox/Diogo_Rede_simetria/Shuffle_data/'+city_name+'_teste/'+city_name+'_FULL_fractions_shuffle.dat', 
                   index_col=0)
data

                                           L from paths
0     [((6378899315, 65303541), 31.0, 0, True), ((65...
1     [((65343907, 65312056), 92.0, 0, False), ((653...
2     [((65362368, 65359704), 69.0, 0, False), ((653...
3     [((4062847056, 258922103), 78.0, 0, False), ((...
4     [((3978797439, 258967897), 140.0, 0, False), (...
...                                                 ...
9264  [((65295293, 65295289), 136.0, 0, False), ((65...
9265  [((1196841579, 1196848008), 28.0, 0, False), (...
9266  [((65302256, 65319774), 224.0, 0, False), ((65...
9267  [((65314578, 65304270), 41.0, 0, False), ((653...
9268  [((65314572, 65375419), 94.0, 0, False), ((653...

[91865 rows x 1 columns]

In [3]:
data_shuffle = pd.read_csv('/home/diogo_mota/Dropbox/Diogo_Rede_simetria/Shuffle_data/'+city_name+'_teste/'+city_name+'_FULL_100k_paths_shuffle.dat',
                           index_col=0)

In [4]:
data['L from length'] = data_shuffle['L from length']
data

                                           L from paths  L from length
0     [((6378899315, 65303541), 31.0, 0, True), ((65...         8918.0
1     [((65343907, 65312056), 92.0, 0, False), ((653...         8703.0
2     [((65362368, 65359704), 69.0, 0, False), ((653...        10560.0
3     [((4062847056, 258922103), 78.0, 0, False), ((...         5440.0
4     [((3978797439, 258967897), 140.0, 0, False), (...         8699.0
...                                                 ...            ...
9264  [((65295293, 65295289), 136.0, 0, False), ((65...         8898.0
9265  [((1196841579, 1196848008), 28.0, 0, False), (...         2992.0
9266  [((65302256, 65319774), 224.0, 0, False), ((65...         5599.0
9267  [((65314578, 65304270), 41.0, 0, False), ((653...        14457.0
9268  [((65314572, 65375419), 94.0, 0, False), ((653...         8225.0

[91865 rows x 2 columns]

In [5]:
L_from_paths = [(eval(data['L from paths'].iloc[i]), data['L from length'].iloc[i]) for i in range(len(data))]

In [6]:
len(L_from_paths)

91865

In [7]:
clean_L_from_paths = [item for item in L_from_paths if len(item[0])>0] ## remove cases where origin==destination

In [8]:
len(clean_L_from_paths)

91855

In [9]:
clean_paths_list = [val[0] for val in clean_L_from_paths]
clean_lengths_list = [val[1] for val in clean_L_from_paths]

In [10]:
def frac_calculator(lista):

    one_way_sum = 0
    full_sum = 0
    for attr in lista:
        #print(attr)
        if attr[-1]==True:
            one_way_sum+=attr[1]
            full_sum+=attr[1]
        else:
            full_sum+=attr[1]

    frac = one_way_sum/full_sum

    return frac

In [11]:
frac_l_from_list = []
w = 0
for path in clean_paths_list:
    print(w)

    frac_l_from = frac_calculator(path)
    frac_l_from_list.append(frac_l_from)
    w+=1
    clear_output(True)
#frac_l_to = frac_calculator(routes_attr_l_to)

91854

In [12]:
df = pd.DataFrame(zip(frac_l_from_list, clean_lengths_list), columns = ['One way Fraction', 'L from length'])
df

       One way Fraction  L from length
0              0.156362         8918.0
1              0.189776         8703.0
2              0.118317        10560.0
3              0.120169         5440.0
4              0.083125         8699.0
...                 ...            ...
91850          0.123083         8898.0
91851          0.087125         2992.0
91852          0.056607         5599.0
91853          0.166517        14457.0
91854          0.151356         8225.0

[91855 rows x 2 columns]

In [13]:
df.to_csv('/home/diogo_mota/Dropbox/Diogo_Rede_simetria/Shuffle_data/'+city_name+'_teste/'+city_name+'_FULL_fractions_L_data_shuffle.dat')